@model Gittablog.Presentation.Models.HomeViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Gittablog</title>
    </head>
    <body>
        <div>
            <h3>Success? @Model.PollResult.Success</h3>
            <h3>IsNewCommit? @Model.PollResult.IsNewCommit</h3>
            <h3>PushedTimestamp? @Model.PollResult.PushedTimestamp</h3>
            <h3>Sha @Model.PollResult.Sha</h3>
            @foreach (var file in @Model.PollResult.MarkdownFiles)
            {
                <span>@Html.Raw(@file)</span>
            }
        </div>
    </body>
</html>