@model IEnumerable<Gitablog.Web.ViewModels.BlogPost>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Gittablog</title>
</head>
<body>
    <div>
        @foreach (var post in @Model)
        {
            <span>@Html.Raw(post.HtmlContent)</span>
        }


        @*@if (Model.RawContent != null && Model.RawContent.Success)
        {
            <h3>Success? @Model.RawContent.Success</h3>
            <h3>IsNewCommit? @Model.RawContent.IsNewCommit</h3>
            <h3>PushedTimestamp? @Model.RawContent.PushedTimestamp</h3>
            <h3>Identifier @Model.RawContent.Identifier</h3>

            foreach (var file in @Model.RawContent.MarkdownFiles)
            {
                <span>@Html.Raw(@file)</span>
            }
        }
        else
        {
            <h3>No commit to display</h3>
        }*@
    </div>
</body>
</html>