@model IEnumerable<Gitablog.Web.ViewModels.Page>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Gittablog</title>
</head>
<body>
    <div>
        @foreach (var page in @Model)
        {
            <h1>@page.Name</h1>
            
             foreach (var entry in page.BlogPosts)
             {
                 <span>@Html.Raw(entry.RawHtml)</span>
             }
        }


        @*@if (Model.RawContent != null && Model.RawContent.Success)
        {
            <h3>Success? @Model.RawContent.Success</h3>
            <h3>IsNewCommit? @Model.RawContent.IsNewCommit</h3>
            <h3>PushedTimestamp? @Model.RawContent.PushedTimestamp</h3>
            <h3>Identifier @Model.RawContent.Identifier</h3>

            foreach (var file in @Model.RawContent.MarkdownFiles)
            {
                <span>@Html.Raw(@file)</span>
            }
        }
        else
        {
            <h3>No commit to display</h3>
        }*@
    </div>
</body>
</html>