@model IEnumerable<Gitablog.BlogContentProcessor.BlogEntry>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Gittablog</title>
</head>
<body>
    <div>
        @foreach (var file in @Model)
        {
            <span>@Html.Raw(file.RawHtml)</span>
        }


        @*@if (Model.PollResult != null && Model.PollResult.Success)
        {
            <h3>Success? @Model.PollResult.Success</h3>
            <h3>IsNewCommit? @Model.PollResult.IsNewCommit</h3>
            <h3>PushedTimestamp? @Model.PollResult.PushedTimestamp</h3>
            <h3>Sha @Model.PollResult.Sha</h3>

            foreach (var file in @Model.PollResult.MarkdownFiles)
            {
                <span>@Html.Raw(@file)</span>
            }
        }
        else
        {
            <h3>No commit to display</h3>
        }*@
    </div>
</body>
</html>